[user]
	# name = Your Name
	# email = your.email@example.com

[core]
	editor = nano
	autocrlf = input
	excludesfile = ~/.gitignore_global

[init]
	defaultBranch = main

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	amend = commit --amend --no-edit

[pull]
	rebase = false

[push]
	default = simple

[color]
	ui = auto

# [diff]
# 	tool = vimdiff

# [merge]
# 	tool = vimdiff
# 	conflictstyle = diff3

[commit]
	gpgSign = true

# [includeIf "hasconfig:remote.*.url:git@github.com"]
#     path = ~/.gitconfig-github

# [includeIf "hasconfig:remote.*.url:git@gitlab.com"]
#     path = ~/.gitconfig-gitlab